@import "../../variables.scss";

.login_form {
  display: flex;
  width: 100vw;
  height: 100vh;

  &__container {
    @media (min-width: "320px") {
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: 100vh;
    }
    @media (min-width: "700px") {
      width: 80vw;
    }
  }

  &__titles {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 2em;

    h2 {
      @media (min-width: "320px") {
        text-align: center;
        font-size: 1.5em;
        font-weight: lighter;
        padding-bottom: 0;
        margin-bottom: 0;
        color: $dark-blue;
        letter-spacing: 0;
      }
    }

    p {
      @media (min-width: "320px") {
        text-align: center;
        color: $grey-text;
      }
    }

    .login_error {
      color: $pink-color;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    height: 100vh;
    text-align: left;

    input {
      @media (min-width: "320px") {
        width: 15em;
        border: none;
        border-bottom: 1px solid lightgrey;
        margin: 1em 0;
        outline: none;
        font-size: 1em;
        padding-bottom: 0.6em;
        color: $dark-blue;
      }
      @media (min-width: "700px") {
        width: 20em;
      }
      @media (min-width: "840px") {
        width: 22em;
      }
      @media (min-width: "1000px") {
        width: 25em;
      }

      &.input_error {
        @media (min-width: "320px") {
          display: none;
          border-bottom: 1px solid $pink-color;
        }
        @media (min-width: "700px") {
          display: block;
          border-bottom: 1px solid $pink-color;
        }
      }

      &::placeholder {
        color: $grey-color;
      }
    }
  }

  &__input {
    padding: 1em 0 0;
  }

  &__input-names {
    line-height: 0.1em;
    color: $login-label-color;
  }

  &__pass {
    display: flex;
    align-items: center;

    .eye {
      color: pink;
    }
  }

  &__button-container {
    display: flex;
    justify-content: center;
  }

  &__button {
    background-color: $green-color;
    border: none;
    border-radius: 0.4em;
    font-size: 1em;
    color: white;
    width: 10em;
    padding: 0.8em;
  }
}

.left_panel_container {
  @media (min-width: "320px") {
    display: none;
  }
  @media (min-width: "700px") {
    display: block;
  }
}
